body {
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    height: 100vh;
    color: #eee;
    font-family: sans-serif;
    /* margin: 0; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    height: 80vh;
    border: 3px solid yellow;
    /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    /* place-items: center end; */
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    /* place-content: center end; */
}

.grid-item {
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
}

.grid-item:nth-child(2) {
    /* align-self: stretch; */
    /* justify-self: stretch; */
    /* place-self: start end; */
    background-color: royalblue;
    order: -1;
}